---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getCollection('posts', ({ data }) => {
  return data.draft === false
});

Astro.response.headers.set(
  "Cache-Control",
  "max-age=1440, stale-while-revalidate=60"
);
//<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css"/>
/*
    <style>
      :root {
        background-color: #fcf7e9
      }
    </style>
*/
const title = "📰 My Posts";
const description = "My posts on things I'm learning";
---

<BaseLayout title={title} description={description}>
  <h1 class="text-2xl lg:text-4xl text-center mb-8 merri">{title}</h1>
  <div
    id="content"
    class="px-2 sm:px-0 w-11/12 mr-auto ml-auto max-w-3xl post-article"
  >
    {
      posts.map(
        (post) =>
           (
            <PostCard
              url={post.slug}
              title={post.data.title}
              description={post.data.description}
              emoji={post.data.emoji}
            />
          )
      )
    }
  </div>
</BaseLayout>
